 *{
  margin: 0;
  padding: 0;
}


.main-content {
  position: relative;
    margin-left: 220px; 
    padding-top: 6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
  } 

  .background-animation{
    position: fixed;
    top: 75px;
    left: 150px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  .content-section {
    position: relative;
    width: 100%;
    margin-bottom:10rem;
    padding: 1rem;
    margin-top:px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
  }
  
  .content-section h2 {
    margin-top: 0;
  }
  
  
  .content-section.active {
    display: block;
  } 


  @media (max-width: 568px) {
      
    .main-content {
      margin-left: 0;
      padding: 1rem;
    }
    .content-section {
      margin-left: 0;
      padding: 1rem;
    }

  }

  img{
    width: 70%;
  }
  
  .s1{
    display: flex;
  }
  .s3{
    display: flex;
    width: 50%;

  }


  