


.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  display: block;
  padding:0.5rem;
  border-radius: 4px;
}

.sidebar nav ul li a:hover {
  background-color: #1abc9c;
}


.sidebar {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  width: 150px; /* Default width */
  transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}

@media (max-width: 568px) {
  .sidebar {
    width: 60px; /* Reduced width for smaller screens */
  }

  .sidebar nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

